[submodule "cmsc417"]
	path = cmsc417
	url = https://github.com/jsondevers/cmsc417
[submodule "cmsc818e"]
	path = cmsc818e
	url = https://github.com/jsondevers/cmsc818e
[submodule "cmsc131"]
	path = cmsc131
	url = https://github.com/jsondevers/cmsc131
[submodule "cmsc132"]
	path = cmsc132
	url = https://github.com/jsondevers/cmsc132
[submodule "cmsc416"]
	path = cmsc416
	url = https://github.com/jsondevers/cmsc416
[submodule "cmsc330"]
	path = cmsc330
	url = https://github.com/jsondevers/cmsc330
[submodule "cmsc320"]
	path = cmsc320
	url = https://github.com/jsondevers/cmsc320
[submodule "cmsc216"]
	path = cmsc216
	url = https://github.com/jsondevers/cmsc216
[submodule "cmsc451"]
	path = cmsc451
	url = https://github.com/jsondevers/cmsc451
[submodule "cmsc414"]
	path = cmsc414
	url = https://github.com/jsondevers/cmsc414
[submodule "cmsc412"]
	path = cmsc412
	url = https://github.com/jsondevers/cmsc412
[submodule "cmsc711"]
	path = cmsc711
	url = https://github.com/jsondevers/cmsc711
[submodule "cmsc420"]
	path = cmsc420
	url = https://github.com/jsondevers/cmsc420
